<a href="https://colab.research.google.com/github/MhizzyMacasieb/58013-Linear-Algebra/blob/main/Python%20Exercise%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
A = np.array([[-0.4],[4.3],[-0.6]])
B = np.array([-0.2, 0.2, 1])
C = np.array([-0.2, 2.1, -1.5])

print(A,"\n")
print(B,"\n")
print(C,"\n")

In [ ]:
#Addition
print(np.add(B,C))
print(B+C)

In [ ]:
#Subtraction
print(np.subtract(C,B))
print(C-B)

In [ ]:
#Scalar Product
print(A*2)

In [ ]:
#Dot Product
print(np.dot(C,B),"\n")
print(np.dot(B,C),"\n")

In [ ]:
#Multiply
print(np.multiply(A,B),"\n")
print(np.multiply(A,C),"\n")