<a href="https://colab.research.google.com/github/MhizzyMacasieb/58013-Linear-Algebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Indentation**

In [1]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

**This is Comment**

In [2]:
print("Hello, World")

Hello, World

**Python Variable**

In [ ]:
x=1
a, b=0, -1
a, b, c=0, -1, 2

b="Sally" #This is a Type of String

**Casting**

In [3]:
b="Sally" #This is a Type of String
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

**Type() Function**

In [4]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**"Double Quotes" or 'Single Quotes'**

In [5]:
y="John"
y='John'

**Case Sensitive**

In [6]:
a=4
A="Sally" #A will not overwrite a

**Multiple Variables**

In [7]:
x,y,z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

**One Value to Multiple Variables**

In [8]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

**Output Variables**

In [9]:
x="enjoying"

print("Python Programming is "+ x)

Python Programming is enjoying

**Other Way**

In [10]:
x="Python is "
y="enjoying"
z=x+y
print(z)

Python is enjoying

**Arithmetic Operation**

In [11]:
x=5
y=3
print(x+y)

x=5
y=3
sum=x+y
sum

8

8

**Assignment Operator**

In [12]:
a,b,c=0,-1,6
c%=3
c

0

**Comparison Operator and Logical Operator**

In [13]:
a,b,c=0,-1,6
a>b and c>b
True

True

**Identity Operator**

In [14]:
a,b,c=0,-1,5
a is c
False

False

**Bitwise Operator**

In [15]:
a,b,c=0,-1,5
c>>5

0

0